@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --color-first:#F7E93F;
    --color-second:#FB09B4;
    --color-third:#9100F8;
    --gradient-direction-bottom: to bottom;
    --gradient-direction-right: to right;
    --gradient-direction-bottom-left: to bottom left;
    --gradient-direction-top-right: to top right;
    --bg-color1:#1A0B2E;
    --bg-color2:#230E3D;
    --font-color1:#fff;
    --font-color2:#00FF88;
}
.web-page {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-color1);
  color: var(--font-color1);
}
/* Share style */
.btn{
    justify-content: center;
    gap: 8px;
    padding: 12px 20px;
    background: linear-gradient(var(--gradient-direction-top-right),var(--color-first),var(--color-second),var(--color-third));
    border-radius: 1000px;
}
.btn-alt{
    justify-content: center;
    gap: 8px;
    padding: 12px 20px;
    background: transparent;
    border-radius: 1000px;
    border: 1px solid var(--font-color2);
    color: var(--font-color2);
}
.btn-alt img{
    display: inline;
    margin-right: 8px;
}
.title{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
}
.description{
    font-size: 1rem;
    text-align: center;
}

/*  ==================== Header styles ====================  */

/* navbar sytle */
#nav-bar{
    position: fixed;
    width: 100%;
    backdrop-filter: blur(45px);
}
.nav-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid; */
    padding: 24px 0;
}
#nav-bar .logo{
    font-size: 2rem;
    font-weight: 600;
    color: white;
}
#nav-bar .logo span{
    background-image: linear-gradient(var(--gradient-direction-bottom),var(--color-first),var(--color-second),var(--color-third));
    background-clip: text;
    color: transparent;
}
#nav-bar .menu{
    display: flex;
    justify-content: center;
    gap: 32px;
    font-size: 1rem;
}


/* hero-section style */
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid #fff; */
    text-align: center;
    margin: 0 auto;
    background-image: url('../assets/hero-bg.png');
    background-position: center center; 
    background-repeat: no-repeat;
    background-size:cover;
    /* height: 500px; */
}
#banner .mic{
    position: relative;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 101px auto 40px;
    /* border: 1px solid; */
}
#circle{
    max-width: 350px;
    width: 100%;
    /* border: 1px solid; */
}
#microphone{
    position: absolute;
    z-index: 2;
    height: 58%;
    /* border: 1px solid; */
}
#banner .title{
    font-size: 3.75rem;
}
#banner .buttons{
    margin-top: 24px;
    margin-bottom: 101px;
    gap: 8px;
}

/* about  */
/* #about{
    border: 1px solid;
} */
.about-container{
    max-width: 1200px;
    width: 75%;
    /* border: 1px solid; */
    margin: 0 auto;
}

.about-container hr{
    margin: 30px 0;
    border: none;
    height: 1px;
    background-color: #1b1d74;
}
.about-container .box-container{
    display: flex;
    gap: 80px;
}
.about-container .box-container .box{
    width: 240px;
    /* border: 1px solid; */
    padding: 10px;
}
.about-container .box-container .box .title{
    color: var(--font-color2);
}
.about-container .box-container .box .description{
    margin-top: 2rem;
    margin-bottom: 4rem;
}
/* choose */
#choose{
    background-color: var(--bg-color2);
    /* border: 1px solid; */
}
#choose .choose-container{
    max-width: 1200px;
    margin: 0 auto;
    width: 75%;
    padding: 120px 0;
}
#choose .choose-card{
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-areas: "audio     mobile      mobile"
                         "audio     community   community"
                        "interview  interview   resouces"; */
}
#audio{
    /* grid-area: audio; */
    grid-row: span 2;
    grid-column: span 1;
    border-radius: 40px;
}
#mobile{
    /* grid-area: mobile; */
    grid-row: span 1;
    grid-column: span 2;
    border-radius: 40px;
}
#community{
    /* grid-area: community; */
    grid-row: span 1;
    grid-column: span 2;
    border-radius: 40px;
}
#interview{
    /* grid-area: interview; */
    grid-row: span 1;
    grid-column: span 2;
    border-radius: 40px;
}
#resources{
    /* grid-area: resouces; */
    grid-row: span 1;
    grid-column: span 1;
    border-radius: 40px;
}
.card{
    padding: 2.5rem 0 1rem 2.5rem;
    background-color: rgba(53, 17, 101, 0.4);
}
.card img{
    margin-bottom: 1.5rem;
}
.card h2{
    font-size: 1.5rem;
}
.card p{
    font-size: 1rem;
    margin-top: 1rem;
}